@inherits AppBase
@inject Cart Cart   

<header>
    <SearchBox OnItemChosen="HandleItemChosen" />
</header>

@* <main>
    @foreach (var row in Cart.Rows)
    {
        <CartRowDisplay @key="row.Key" Data="row" />
    }
</main> *@